.text img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid #B4B592;
}

.about {
  padding-top: 90px;
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Cookie', cursive;
  font-size: 80px;
  color: #B5B592;
  text-shadow: 2px 2px 2px #bbbbbb;
}

.text {
  display: flex;
  p {
    padding-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
  }
}
