<%= yield %>
<div class="footer">
  <div class="footer-links">
    <a class="link email" href="mailto:catherinerosemartin@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    <a class="link github" href="https://github.com/catherinejex/"><i class="fa-brands fa-github"></i></a>
    <a class="twitter" href="https://twitter.com/codedbycat"><i class="fa fa-brands fa-twitter"></i></a>
    <a class="linkedin" href="https://www.linkedin.com/in/catherinerosemartin/"><i class="fa fa-brands fa-linkedin"></i></a>
  </div>

    <div class="footer-copyright">
      <p>Catherine Martin, 2023</p>
    </div>
</div>