  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

<div class="footer">
  <div class="footer-copyright">
    <p>Catherine Martin, 2022</p>
  </div>
</div>
