 <div class="navbar navbar-expand-sm navbar-light navbar-lewagon-home">
    <div class="container-fluid-home">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav-home me-auto-home">
                <li class="nav-item-home">
                    <%= link_to "Home", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item-home">
                    <%= link_to "About", about_path, class: "nav-link" %>
                </li>
                <li class="nav-item-home">
                    <%= link_to "Portfolio", portfolio_path, class: "nav-link" %>
                </li>
            </ul>
        </div>
    </div>
</div>