 <%= render "shared/navbar" %>
<div class="bckgd">
  <div class="container">
    <h1 class="about">About me</h1>
    <div class="text">
      <%= image_tag "me.jpg", class: "me" %>
        <p>I’m Catherine, a full stack engineer based in London and currently working as a Junior Web Developer for Venntro Media Group. My current knowledge in coding is: HTML5, CSS/SASS, JavaScript, Ruby, Rails, PostgreSQL, MySQL, and ColdFusion. I have a passion for design in the tech field and love coming up with aesthetically pleasing colour schemes for sites and applications. My knowledge in UX/UI is: Figma, Adobe PhotoShop, Adobe InDesign, Sketch, Procreate, and Canva.
        <br>
        <br>
        I first started as a Software Quality Assurance Analyst in the United States, specifically Birmingham, AL. Once I learned the basics of software testing, I was very eager to learn how to actually code. I would fix small UI bugs within the app and loved the satisfaction that came with fixing a problem. When it was time to move back to the United Kingdom, I knew I would not be able to stay on as a QA Analyst overseas. I started looking into web development bootcamps in London and found Le Wagon. I immediately applied and started beginner courses in Ruby to help prepare for an intensive 9 weeks.
        <br>
        <br>
        I finished Le Wagon in March 2022. Le Wagon helped me grow more confident in my code, grasp a true understanding of frontend and backend, and solidified my decision of wanting to grow in the tech industry.
        <br>
        <br>
        When I'm not coding or designing, I enjoy playing with my two cats, going on walks around parks, drawing/painting digitally, or enjoying an evening out by the Thames.</p>
  </div>
</div>

 <%= render 'shared/footer' %>