<div class="bckgd" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1793&q=80);">
  <div class="container">
    <h1 class="about">About me</h1>
    <div class="text">
      <%= image_tag "me.jpg", class: "me" %>
        <p>I’m Catherine, a full stack engineer based in London and currently working as a Junior Web Developer for Venntro Media Group. My current knowledge in coding is: HTML5, CSS/SASS, JavaScript, Ruby, Rails, PostgreSQL, MySQL, and ColdFusion. I love learning new languages/libraries and am currently learning Java.
        <br>
        <br>
        I first started as a Software Quality Assurance Analyst in the United States, specifically Birmingham, AL. Once I learned the basics of software testing, I was very eager to learn how to actually code. I would fix small UI bugs within the app and loved the satisfaction that came with fixing a problem. When it was time to move back to the United Kingdom, I knew I would not be able to stay on as a QA Analyst overseas. I started looking into web development bootcamps in London and found Le Wagon. I immediately applied and started beginner courses in Ruby to help prepare for an intensive 9 weeks.
        <br>
        <br>
        I finished Le Wagon in March 2022. Le Wagon helped me grow more confident in my code, grasp a true understanding of frontend and backend, and solidified my decision of wanting to grow in the tech industry. I now work as a Junior Web Developer at Venntro Media Group.</p>
    </div>
  </div>
