  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">

<div class="container">
  <h1 class="coming-soon">Contact</h1>
  <p class="contact-info">Email: catherinerosemartin@gmail.com</p>
  <p class="contact-info"><a href="https://www.linkedin.com/notifications/"></a>LinkedIn</p>
</div>
