<div class="bckgd" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1793&q=80);">
  <div class="container">
    <h1 class="my-portfolio">My Portfolio</h1>
    <p class="portfolio-text">The cards below will take you to my favourite three projects I have worked on:</p>
    <div class="cards">

      <div class="" data-bs-toggle="modal" data-bs-target="#exampleModal" id="bandmates">
        <div class="card-category bandmates">
          <%= image_tag 'bandmates.jpg' %>
            <p class="text-card"></p>
        </div>
      </div>

      <div class="" data-bs-toggle="modal" data-bs-target="#exampleModal" id="omnifood">
        <div class="card-category omnifood">
          <%= image_tag 'omnifood.jpg' %>
          <p class="text-card"></p>
        </div>
      </div>

      <div class="" data-bs-toggle="modal" data-bs-target="#exampleModal" id="venulet">
        <div class="card-category venulet">
          <%= image_tag 'venulet.jpg' %>
          <p class="text-card"></p>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">BandMates</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Go to app</button>
            </div>
          </div>
        </div>
      </div>

    </div>
      <a class="cv-link" href="https://drive.google.com/file/d/15Rbu76JGWYr97hAduqVjbbdDff9TojPh/view" target="_blank">Click here for my CV</a>
  </div>


<script>
const bandmates = "<p>BandMates was a project created by myself and three other teammates for our final project at Le Wagon. BandMates is a mobile application for musicans to connect with other musicans within their area.</p>";
const omnifood = "<p>Omnifood is a fake food page I created to demonstrate web page responsiveness, CSS styling, and an introduction to baisc JQuery features.</p>";
const venulet = "<p>VenuLet was a project created by myself and three other teammates during our \"AirBnb clone week\" at Le Wagon.</p>";
const bandmatesLinks = "<a href=\"https://bandmates807.herokuapp.com/\" target=\"_blank\">Go to app</a>"
const omnifoodLinks = "<a href=\"https://catherinerosejex.github.io/omnifood/\" target=\"_blank\">Go to website</a>"
const venuletLinks = "<a href=\"https://airbnb-catherinejex.herokuapp.com/\" target=\"_blank\">Go to website</a>"

const projectHTML = {"bandmates":{"p": bandmates, "a": bandmatesLinks}, "omnifood":{"p": omnifood, "a": omnifoodLinks}, "venulet":{"p": venulet, "a": venuletLinks}}


const exampleModal = document.getElementById('exampleModal')
exampleModal.addEventListener('show.bs.modal', function (event) {

  const button = event.relatedTarget
  const modalTitle = exampleModal.querySelector('.modal-title')
  const modalBody = exampleModal.querySelector('.modal-body')
  const modalFooter = exampleModal.querySelector('.modal-footer')

  modalTitle.textContent = button.id
  modalBody.innerHTML = ''
  modalBody.insertAdjacentHTML("afterbegin", projectHTML[button.id].p)
  modalFooter.innerHTML = ''
  modalFooter.insertAdjacentHTML("afterbegin", projectHTML[button.id].a)
})
</script>
