  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">


<div class="container">
  <h1 class="my-portfolio">My Portfolio</h1>
  <p class="portfolio-text">The cards below will take you to my favourite three projects I have worked on. Please keep in mind that "BandMates" is an app and will need to be viewed within mobile dimensions.</p>
  <div class="cards">
    <div class="card-category bandmates">
      <%= image_tag 'bandmates.jpg' %>
        <p class="text-card"><a href="https://bandmates807.herokuapp.com/" target="_blank">BandMates</a></p>
    </div>

    <div class="card-category omnifood">
      <%= image_tag 'omnifood.jpg' %>
        <p class="text-card"> <a href="https://catherinerosejex.github.io/omnifood/" target="_blank">Omnifood</a></p>
    </div>

    <div class="card-category venulet">
    <%= image_tag 'venulet.jpg' %>
      <p class="text-card"><a href="https://airbnb-catherinejex.herokuapp.com/" target="_blank">VenuLet</a></p>
    </div>
  </div>

    <a class="cv-link" href="https://drive.google.com/file/d/1lP-4vSUn47s8Z2-T_wE2q6gE-5JNYJOU/view" target="_blank">Click here for my CV</a>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">BandMates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Testing
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


</div>
