  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">


<div class="container">
  <h1 class="my-portfolio">My Portfolio</h1>
  <div class="cards">
    <div class="card-category bandmates">
      <%= image_tag 'bandmates.jpg' %>
        <p class="text-card">BandMates</p>
    </div>

    <div class="card-category omnifood">
      <%= image_tag 'omnifood.jpg' %>
        <p class="text-card">Omnifood</p>
    </div>

    <div class="card-category venulet">
    <%= image_tag 'venulet.jpg' %>
      <p class="text-card">VenuLet</p>
    </div>
  </div>

  <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
</div>
